
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	
    background: linear-gradient(90deg,#78efd9 ,#087561);		
	position: relative;	
	height: 60vh;
	width: 300px;	
	/* box-shadow: 0px 0px 15px whitesmoke; */
    padding: 40px;
    margin-left: 530px;

    
}
.login__field {
	padding: 20px 0px;	
	position: relative;	
	
}
.login__icon {
	
	top: 30px;
	color:#57b1a2;
}
.login__input {
	border: none;
	border-bottom: 2px solid rgb(220, 204, 193);
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}
.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #57b1a2;
}
.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: rgb(95, 50, 6);
	box-shadow: 0px 2px 2px #57b1a2;
	cursor: pointer;
	transition: .2s;
}
.login__submit:active{
	transform: scale(0.9);
	

}
.login__input:focus{
	outline: none;
}
form {
	width: 320px;
	padding: 30px;
	padding-top: 10px;
}
.button__text{
    color:#093b33;
}
.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}
.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}
.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}
.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}
.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background:#78efd9;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}
.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg,#9bd8cd, #36b29c);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}
.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background:#57b1a2;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

/* header{
    background: linear-gradient(  rgb(238, 197, 157),  rgb(131, 70, 10));
    height: 70px;
} */
#background{
	
	/* background-image: linear-gradient(180deg, #89caf6, #78e7a6); */
	background-image: linear-gradient(90deg , #e0d2c799 , #58ad9f );
	padding-top: 6%;
	height: 113vh;
}
.body{
	position: fixed;
	height: 100vh;
}
h2{
     font-family: Garamond, serif;
     font-weight: normal;
     color:#114a40;
     font-weight: bold;
}
.text-danger{
	color: red;
}
.signup{
	margin-left: 40px;
	/* margin-top: 50px; */
    color:#0a2d27;
    font-weight: bold;
	text-decoration: none;
}
.text-danger {
	color: red;
	font-size: 0.875em;
	margin-top: 0.25em;
  }
  
  .login__input.ng-invalid.ng-touched {
	border-color: red;
  }
  
  .login__input.ng-valid.ng-touched {
	border-color: green;
  }
  