<div class="about">
    <div class="aboutus">
        <img id="image"src="../../assets/images/about.webp">
        <div id="about">
            <h1>About Us</h1>
            <p>Welcome to Todo Tracker, your ultimate companion in productivity! 
                We're thrilled to have you join us on this journey towards enhanced organization and efficiency.
            Todo Tracker was born out of a shared frustration with the chaos of modern life. As busy professionals, students, parents, and entrepreneurs ourselves, we understand the constant struggle to juggle multiple responsibilities and stay on top of our ever-growing to-do lists.
        
             Driven by our passion for productivity and a desire to make a positive impact, we set out to create a solution that would simplify task management and empower individuals to reclaim control over their time and priorities.
            </p>
        </div>
    </div>

    <div class="mission">
        <div id="mission">
            <h1>Mission</h1>
            <p>At Todo Tracker, our mission is simple: to empower you to achieve your goals and dreams by providing you with the tools and resources you need to stay organized, focused, and motivated.

                We believe that effective task management is the key to unlocking your full potential and living a more fulfilling and balanced life. By helping you prioritize your tasks, track your progress, and celebrate your achievements, we aim to inspire you to dream big, take action, and make every moment count.
                
            </p>
        </div>
        <img id="image1"src="../../assets/images/mission.jpg">
    </div>
    <div class="vision">
        <img id="image2" src="../../assets/images/vision.jpg">
        <div id="vision">
            <h1>Vision</h1>
            <p>"To empower individuals and teams to effortlessly manage their tasks, achieve their goals, and unlock their full potential."
                A vision statement like this encapsulates the overarching purpose and aspirations of the Todo List application. It highlights the desire to provide users with a powerful tool for task management that goes beyond mere organization, aiming to facilitate productivity, goal achievement, and personal growth.
            </p>
        </div>
    </div>



<footer>
    <div id="footer">
        <h2>A-143, 9th Floor, Sovereign Corporate Tower, Sector-136, Noida, Uttar Pradesh - 201305</h2>
        <p id="para">Call : 044-56783-67453 <i class="fa fa-phone" aria-hidden="true"></i>
        </p>
        <div>
            <p id="para">&copy; 2024 TODO-TRACKER. All rights reserved.</p>
        </div>
        <div id="webicon">
            <i id="icon"class="fa fa-facebook-official" aria-hidden="true"></i>
            <i id="icon"class="fa fa-twitter" aria-hidden="true"></i>
            <i id="icon"class="fa fa-whatsapp" aria-hidden="true"></i>
        </div>
    </div>
</footer>
</div>